/$STDERR.txt
/$STDOUT.txt
/Progress.log
/___Lnk.ind
/obj
/SI
/Source/Bootloader/Source/01_Configuration/01_IDE/*.map
/Source/Bootloader/Source/01_Configuration/01_IDE/obj/vicp.d*
/Source/Bootloader/Source/01_Configuration/01_IDE/obj/vicp.e*
/Source/Bootloader/Source/01_Configuration/01_IDE/obj/vicp.map
/Source/Bootloader/Source/01_Configuration/01_IDE/objs
/Source/Bootloader/Source/01_Configuration/01_IDE/OUT/vicp.*
/Source/Bootloader/Source/01_Configuration/01_IDE/Output
/OUT/vic*
/OUT/checksum.txt
/Source/Bootloader/*.IAB
/Source/Bootloader/*.IAD
/Source/Bootloader/*.IMB
/Source/Bootloader/*.IMD
/Source/Bootloader/*.PFI
/Source/Bootloader/*.PO
/Source/Bootloader/*.PR
/Source/Bootloader/*.PRI
/Source/Bootloader/*.PS
/Source/Bootloader/*.SearchResults
/Source/Bootloader/*.WK3
/Source/Bootloader/*.txt
/Source/Bootloader/SI
/Source/Bootloader/Source/SI
/Source/Bootloader/Tools
/Source/vicp/ComplexDriver/CANdriver/tool/gen979
/Source/vicp/ComplexDriver/CANdriver/tool/*.ini
/Source/vicp/ComplexDriver/CANdriver/gen/*.a2l
/Source/vicp/ComplexDriver/CANdriver/tool-replay/gen979
/Source/vicp/ComplexDriver/CANdriver/tool-replay/*.ini
/Source/vicp/ComplexDriver/CANdriver/gen-replay/*.a2l
/OUT/checksum.txt
/OUT/vic.bin
/OUT/vicp.bin.md5
/OUT/vicp.*
/Source/Bootloader/Source/02_Sources/SI
/Source/Bootloader/Source/01_Configuration/01_IDE/SI
/objs
/Library_C100.a
/Library_C100.dba
/Library_C100.siz
/C100_appLib.a
/C100_appLib.dba
/C100_appLib.siz

